@using System.Web.Mvc.Html
@model HierarchicalData.WebUI.Models.FolderViewModel

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    <h2>Folder: @Model.CurrentFolder</h2>
    @foreach (var f in Model.Children)
    {
        @Html.ActionLink(@f.Name, "Index", new {id = f.Id})<br>
    }
</div>
</body>
</html>